/* ******************************
BUTTONS
****************************** */
@mixin button($background-color , $color , $color2 , $background-color2) {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    padding: 0px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: $color;
    background-color: $background-color;
    border-radius: 2px;
    box-shadow: none;
    transition: all 0.5s ease;
    /* ----- BUTTON STATES ----- */
    &:hover,
    &:focus,
    &:active{
        color: $color2;
        background-color: $background-color2;
    }
}





