$main-text-color: white;

$hover-color: rgba(203, 142, 95, 1);

$secondary-color : rgba(167, 73, 45 ,1) ;

$border-color : black ;

$background-color: rgb(75,0,0);

$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;

$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;
